# Use the adequate version of chromedrive (https://www.npmjs.com/package/chromedriver)
detect_chromedriver_version=true

# Always download the chromedriver (no using cache)
chromedriver_force_download=true
