html {
	height: 100%;
	width: 100%;

	--main-border: 10px;
}

body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: var(--generic-space);
	box-sizing: border-box;

	background-color: black;
	color: white;
}

/**
 * App menu icon overlay
 */

body > #app-menu {
	position: absolute;
	top: var(--generic-space);
	left: var(--generic-space);
	z-index: 1000;
}

body > #app-menu > img {
	width: 40px;
}

/**
 * Main content
 */

body > #main-application {
	box-sizing: border-box;
	height: 100%;
	width: 100%;

	/* full */
	border-width: 0;
	object-fit: contain;
}

iframe {
	height: 100%;
	display: block;

	background-image:        url("loading.gif");
	background-position:     top left;
	background-repeat:       no-repeat;
	background-size: 		 200px;

	background-color: white;
}
