.corners {
	/* Vertical align */
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	--external-padding: 5px;
	--internal-padding: 10px;
}

.corners > div {
	/* Line */
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}

/* Configuration of leaf elements */
.corners > div > div {
	padding: var(--internal-padding);
	border-radius: calc(var(--internal-padding) / 2);
}

.corners > div:nth-child(1) > div {
	padding-top: var(--external-padding);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.corners > div:last-child > div {
	padding-bottom: var(--external-padding);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.corners > div > div:nth-child(1) {
	padding-left: var(--external-padding);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.corners > div > div:last-child {
	padding-right: var(--external-padding);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.corners.box,
.corners .box {
	background-color: gray;
	color: white;
}
