
@import "elements.css";

html,
body,
body > #main-application,
iframe {
	display: block;

	height: 100%;
	width: 100%;

	margin: 0;
	border: none;
	padding: 0;

	background-color: black;
	color: white;

	--generic-space: 10px;
}

iframe {
	display: block;

	height: 100%;
	width: 100%;

	margin: 20px;

	background-color:      white;
	background-image:        url("loading.gif");
	background-position:     center;
	background-repeat:       no-repeat;
	background-size: 		 200px;
}

#status-bar {
	position: absolute;
	top: 0;
	right: 0;
	max-height: 100%;
	max-width: 40px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	gap: 2px;

	align-items: stretch;

	--truncate: 2px;

	background-color: transparent;
}

#status-bar > * {
	display: block;
}

#status-bar > [disabled] {
	display: none;
}

#status-bar img {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

kiosk-links .button {
	height: 100px;
	width: 200px;
	background-color: gray;
	color: white;
	margin: var(--generic-space);
}

.debug {
	position: absolute;
	top: 0;
	left: 0;
	background-color: darkslateblue;
	color: white;
	z-index: 2000;
}

[nodebug] .debug {
	display: none !important;
}
