@import 'elements.css';
@import 'corners.css';
@import 'body.css';

html {
	--generic-space: 10px;
}

#main-application {
	overflow-y: auto;
}

kiosk-links .button {
	height: 100px;
	width: 200px;
	background-color: gray;
	color: white;
	margin: var(--generic-space);
}
